<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="qrbar.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="qrbarlabel.js"></script>
    <link rel="stylesheet" href="qrbarlabel.css">
    <style>
        .box{display:flex;flex-flow:row wrap;}
    </style>
</head>
<body ng-app="App" ng-controller="AppController">
    <div>
        <input type="radio" ng-model="codetype" value="bar"/>Barcode
        <input type="radio" ng-model="codetype" value="qr"/>QR
    </div>
    <div class="box">
        <qrcode ng-if="codetype=='qr'" 
            ng-repeat="i in data" width="144" height="72" code="i.id" 
            data="{name:'praveen',age:33,wife:meenu,kids:'arya',location:'newark delaware'}">
        </qrcode>
        <barcode ng-if="codetype=='bar'" 
            ng-repeat="i in data" width="144px" height="72px" 
            options="{displayValue:true,height:36,width:1,fontSize:10}" code="i.id" 
            data="{name:'praveen',age:33,wife:meenu,kids:'arya',location:'newark delaware'}">
        </barcode>
    </div>
    <script type="text/javascript">
    angular.module("App",["AssetsUI"])
    .factory("util",function(){
        var i=new Date().getTime();
        return new function(){
            this.UID=function(){
                return i++;
            }
        }
    })
    .controller("AppController",["$scope","util",function(s,util){
        s.codetype="qr";
        s.data=new Array(10).fill(0).map((x)=>{return {id:util.UID()}})
    }])
        
    </script>
</body>
</html>